@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600&family=Oxanium:wght@200;300;400;500;600;700;800&family=Palanquin:wght@100;200;300;400;500;600;700&family=Rubik:wght@400;500;600;700;800&display=swap');

:root{
    --azulescuro: #003D76;
    --azulclaro: #0282D3;
    --branco: #FFF;
    --cinza: #D9D9D9;
    --cinzaclaro: #e9e8e8;
    --cinzaescuro: #727272;
    --preto: #000;
    --amarelo: #EBBC44;
    --amarelohover: #c07910;
}

*{
    margin: 0 auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

html{
    background-color: var(--branco);
    overflow-x: hidden;
}

body a{
    text-decoration: none;
}

video{
    border-radius: 5px;
    box-shadow: 5px 5px 10px var(--azulescuro);

}

.justify{
    text-align: justify;
}

#wpp{
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: opacity .3s;
    transition: tranform .9s;
}

#wpp:hover {
    opacity: .9;
    transform: scale(1.05);
    transition: .2s;
}

.banner{
    background: url(images/banner/banner.webp);
    background-size: cover;
    background-color: var(--azulclaro);
}

.subtitulo h1{
    font: 700 36px/40px "Nunito sans", sans-serif;
    color: var(--azulescuro);
}

.titulobranco h1{
    font: 700 44px/40px "Palanquin", sans-serif;
    color: var(--branco);
}

.descbranco h1{
    font: 400 20px "Oxanium",sans-serif;
    color: var(--branco);
}

.titulo h1{
    font: 700 44px/45px "Palanquin",sans-serif;
    color: var(--azulescuro);
}

.desc h1{
    font: 400 20px/30px "Oxanium",sans-serif;
    color: var(--preto);
}

.botaoamarelo a{
    font: 700 20px "Nunito Sans",sans-serif;
    color: var(--branco);
    background-color: var(--amarelo);
    padding: 10px 40px;
    box-shadow: 1px 1px 5px var(--cinzaescuro);
}

.botaoamarelo a:hover{
    background-color: var(--amarelohover);
    transition: .3s;
}

.botaocompra a{
    font: 700 20px "Nunito Sans",sans-serif;
    color: var(--branco);
    background-color: var(--azulclaro);
    padding: 10px 40px;
    box-shadow: 1px 1px 5px var(--cinzaescuro);
}

.botaocompra a:hover{
    background-color: var(--azulescuro);
    transition: .3s;
}

.grid-relatos{
    padding: 15px 0 0 0;
}

.grid-relatos-mobile{
    padding: 10px 0 0 0;
}

.img-print{
    width: 300px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.img-print-mobile{
    width: 190px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.txt-video h1{
    font: 400 24px "Oxanium",sans-serif;
    color: var(--branco);
}

.container-grid h1{
    font: 600 20px "Oxanium",sans-serif;
    color: var(--preto);
}

.card-box{
    border: 3px solid var(--cinza);
    background-color: var(--branco);
    box-shadow: 1px 1px 5px var(--cinzaescuro);
}

.title-card h1{
    font: 600 20px/55px "Oxanium",sans-serif;
    color: var(--branco);
    background-color: var(--azulescuro);
}

.precototal p{
    font: 400 14px "Oxanium",sans-serif;
    color: var(--preto);
}

.precototal h3{
    font: 600 20px "Oxanium",sans-serif;
    color: var(--preto);
}

.precototal span{
    font-size: 24px;
}

.precototal h1{
    font: 600 44px "Oxanium",sans-serif;
    color: var(--amarelo);
}

.divisor{
    width: 200px;
    height: 1px;
    background-color: var(--preto);
    margin: auto 20px;
}

.divisoria p{
    font: 400 16px/30px "Oxanium",sans-serif;
    color: var(--preto);
}

.accordion-button h1{
    font: 700 18px/30px "Nunito Sans",sans-serif;
    color: var(--preto);
}

.accordion-body p{
    font: 500 16px/30px "Oxanium",sans-serif;
    color: var(--preto);
}

.btnmobile a{
    font-size: 25px;
    padding: 10px 55px;
}

.titulo-seguro h1{
    font: 600 16px/20px "Rubik", sans-serif;
    color: var(--azulescuro);
}

.p-seguro p{
    font: 400 14px/20px "Rubik", sans-serif;
    color: var(--preto);
}

.rodape-txt h1{
    font: 700 16px/30px "Rubik", sans-serif;
    color: var(--branco);
}

.direitos h1{
    font: 400 12px/20px "Rubik", sans-serif;
    color: var(--branco);
}

.direitos a{
    font: 400 12px/20px "Rubik", sans-serif;
    color: var(--branco);
}

.direitos a:hover{
    color: var(--amarelohover);
    transition: .2s;
}